NET "B(2)" LOC = "A7"  | IOSTANDARD = LVCMOS33;
NET "B(1)" LOC = "M4"  | IOSTANDARD = LVCMOS33;
NET "B(0)" LOC = "C11"  | IOSTANDARD = LVCMOS33;

NET "A(7)" LOC = "N3"  | IOSTANDARD = LVCMOS33;
NET "A(6)" LOC = "E2"  | IOSTANDARD = LVCMOS33;
NET "A(5)" LOC = "F3"  | IOSTANDARD = LVCMOS33;
NET "A(4)" LOC = "G3"  | IOSTANDARD = LVCMOS33;
NET "A(3)" LOC = "B4"  | IOSTANDARD = LVCMOS33;
NET "A(2)" LOC = "K3"  | IOSTANDARD = LVCMOS33;
NET "A(1)" LOC = "L3"  | IOSTANDARD = LVCMOS33;
NET "A(0)" LOC = "P11"  | IOSTANDARD = LVCMOS33;

NET "O" LOC = "M5"  | IOSTANDARD = LVCMOS33;